#MainCards {
  background-color: white;
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 10px;
  #cardmaker {
    display: flex;
    flex-direction: column;
    width: 380px;
    justify-content: center;
    text-align: center;
    padding: 10px;
    background-color: white;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 50px;

    p {
      background-color: transparent;
      color: black;
      font-family: none;
      font-size: 15px;
    }
    h2 {
      background-color: transparent;
      color: black;
      font-size: 40px;
      font-weight: 300;
    }
  }
}
